@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&family=Open+Sans:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* Background Colors */
  --navbar-bg-color: #F4E1C6; /* Light Sandy Beige for Navbar */
  --footer-bg-color: #F4E1C6; /* Light Sandy Beige for Footer */
  --bg-color: #FDE8D7; /* Papaya Whip for the whole website */

  
  /* Text Colors */
  --default-text-color: #2c3e50; /* Dark color for better contrast */
  --button-text-color: #FFFFFF; /* White color for button text */

  --subheadline-text-color: #FFDAB9; /* Soft Peach for Subheadline Text */
  --active-link-color: #FFA500; /* Bright Orange for Active Links */
  --hover-link-color: #40E0D0; /* Vibrant Turquoise for Hover Links */

  --logo-text-color: #FF7F50; /* Warm Sunset Orange for Logo Text */
  --nav-links-text-color: #6B8E23; /* Muted Olive Green for Nav Links */
  
/* Card Colors */
--card-bg-color: #EDC9AF; /* Desert Sand for Event Cards Background */
--card-hover-bg-color: #DAB892; /* Slightly darker shade for Card Hover Backgrounds */
--card-title-color: #FF7F50; /* Warm Sunset Orange for Card Titles */
--card-text-color: #6B8E23; /* Muted Olive Green for Card Text */
--card-date-color: #8B4513; /* Saddle Brown for Card Date */
--card-location-color: #7F9C8D; /* Muted Green for Card Location */
--card-category-color: #B8860B; /* Dark Goldenrod for Card Category */

  /* Button Colors */
  --primary-button-color: #40E0D0; /* Vibrant Turquoise for Primary Buttons */
  --primary-button-hover-color: #2CA9A9; /* Darker Turquoise for Primary Button Hover */
  --secondary-button-color: #FF7F50; /* Warm Sunset Orange for Secondary Buttons */
  --secondary-button-hover-color: #CC663F; /* Darker Sunset Orange for Secondary Button Hover */

  /* Filter component variables */
  --select-control-bg: var(--card-bg-color); /* Background color for the select control */
  --select-control-border: var(--card-text-color); /* Border color for the select control */
  --select-menu-bg: var(--card-bg-color); /* Background color for the select menu */
  --select-single-value: var(--default-text-color); /* Color for the single value in select */
  --select-disabled-option: var(--card-text-color); /* Color for the disabled option in select */
  --select-selected-option: var(--default-text-color); /* Color for the selected option in select */
  --select-focused-option: var(--primary-button-color); /* Color for the focused option in select */
  --select-option: var(--default-text-color); /* Color for the option in select */
  --select-selected-option-bg: var(--card-hover-bg-color); /* Background color for the selected option in select */
  --select-option-bg-light: #F5D0B1; /* Lighter shade of card-bg-color for the option in select */
  --select-focused-option-bg: var(--card-bg-color); /* Background color for the focused option in select */
  --select-option-bg: var(--card-bg-color); /* Background color for the option in select */
  --select-input: var(--default-text-color); /* Color for the input in select */
  --select-placeholder: var(--card-date-color); /* Color for the placeholder in select */
  
}

@font-face {
  font-family: 'ChellaType';
  src: url('/ChellaType-Regular.ttf') format('truetype');
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.nav-link {
  @apply text-nav-links-text;
}

.nav-link-active {
  @apply text-active-link;
}


.description-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

body {
  font-family: 'ChellaType', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.blue-100-fill {
  @apply text-blue-100;
}

.custom-date-picker {
  @apply mt-1 rounded-md shadow-sm p-2;
  @apply focus:border-select-focused-option focus:ring focus:ring-select-focused-option-bg focus:ring-opacity-50;
  @apply border text-select-single-value;
}

.custom-date-picker {
  border: 1px solid var(--select-control-border);
  background-color: var(--select-control-bg);
  color: var(--select-single-value);
}

.custom-date-picker:focus {
  border-color: var(--select-focused-option);
  box-shadow: 0 0 0 3px var(--select-focused-option-bg);
}

.custom-date-picker::placeholder {
  color: var(--select-placeholder);
}


.text-shadow {
  text-shadow: 6px 6px 10px rgba(0, 0, 0, 0.8);
}